@{
    ViewBag.Title = "COMP2084 Final";
}

<div class="jumbotron">
    <h1>Travel Bug</h1>
    <p class="lead">Explore some of the globe's most memorable sites.</p>
    <p>All continent from <a href="https://wikipedia.org">Wikipedia</a>.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Asia</h2>
        <p>
            Asia is Earth's largest and most populous continent, located primarily in the Eastern and Northern Hemispheres.
        </p>
        <p><a class="btn btn-default" href="Regions/Details/3">Destinations &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Europe</h2>
        <p>Europe is a continent located entirely in the Northern Hemisphere and mostly in the Eastern Hemisphere.</p>
        <p><a class="btn btn-default" href="Regions/Details/4">Destinations &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>The Americas</h2>
        <p>The Americas comprise the totality of the continents of North and South America.
        Together, they make up most of the land in Earth's western hemisphere and comprise the New World. </p>
        <p><a class="btn btn-default" href="Regions/Details/5">Destinations &raquo;</a></p>
    </div>
</div>